.control-button {
  color: #0099cc;
  background: transparent;
  border-radius: 6px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: 3px solid #0099cc;
}

.control-button:hover {
  background-color: #0099cc;
  color: white;
}

.control-container {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
}

.control-text {
  padding-bottom: 5px;
}

.control-value {
  width: 40px;
  height: 25px;
  text-align: center;
}

.arrow {
  padding: 5px;
}

.add-button {
  width: 25px;
  height: 25px;
}
.minus-button {
  width: 25px;
  height: 25px;
}
