.up-arrow {
  width: 20px;
  transform: scale(1, 1.3);
}

.down-arrow {
  width: 20px;
  transform: scale(1, -1.3);
}

.control-button {
  color: #0099cc;
  background: transparent;
  border-radius: 6px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: 3px solid #0099cc;
}

.control-button:hover {
  background-color: #0099cc;
  color: white;
}

.control-container {
  display: flex;
}

.control-arrows {
  flex-direction: column;
}
