.display {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 100%;
}

.torus {
  display: grid;
  grid-template-columns: repeat(22, 40px);
  grid-template-rows: repeat(16, 40px);
  grid-gap: 10px;
  overflow: scroll;
  margin: 20px 0px 0 20px;
}

.item {
  border-color: #0099cc;
  border-style: solid;
}

.control-border {
  border-left: 1px dotted #dbd8cf;
  background-image: linear-gradient(135deg, #dbd8cf, white);
  margin-left: 5px;
}

.control-button-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
